* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #757575 #FFFFFF;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
*::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #FFFFFF;
}

*::-webkit-scrollbar-track:hover {
  background-color: #707070;
}

*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #757575;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #FFFFFF;
}

.navbar{
  background: rgba(255, 255, 255, 0); 
  box-shadow: 2px 7px 20px 10px rgba(255, 255, 255, 0.115);
  backdrop-filter: blur(3.25px);
}
sh-x{
  box-shadow: 2px 7px 20px 10px rgba(17, 17, 17, 1);
  /* box-shadow: 2px 7px 20px 11px rgba(255, 255, 255, 0.51); */
}
sh-x2{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.block1 {
  background-image: url('../Photo/gilles-lambert-msk5nnsasly-unsplash.avif');
  background-size: cover;
  height: 100vh;
}
.block11{
  margin-top: 25.5vh;
}
.block3 {
  height: 90vh;
  background-color: #0B0D0C;
  background-size: cover;
}

.block4 {
  height: 30vh;
  background-color: #232427;
}
.a1{
  background-image: url('./Photo/a1.png');
  background-size: cover ;
  width: auto;
  height: 450px;
  margin: 30px;
 
}
.centerpage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container1{
  box-sizing: border-box;
}
.borderef {
    position: relative;
    height: 342px;
    width: 260px;
    background: transparent;
    border-radius: 15px;
    border: 2px solid #fff;
    opacity: 0;
    transition: 1.5s ease;
  }
  .borderef:hover {
    opacity: 1;
  }
  .cardef {
    height: 379px;
    width: 300px;
    background: #808080;
    margin: 30px;
    border-radius: 20px;
    transition: .8s ease;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card0ef {
    background: url("../Photo/371488979_690728899700823_6830333154561649852_n.jpg") center center no-repeat;
    background-size: 300px;
  }
  .card0ef:hover {
    background: url("../Photo/371488979_690728899700823_6830333154561649852_n.jpg") left center no-repeat;
    background-size: 480px;
  }
  .h2ef {
    position: absolute;
    bottom: 142.5px;
    left: 25px;
    width: 15px;
    color:#fff;
    font-size: 30px;
    line-height: 1;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
  .iconef {
    position: absolute;
    fill: #fff;
    color: #fff;
    height: 100px;
    bottom: 30px;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .iconef i {
    font-size: 20px;
    transition: .2s ease;
  }
  .iconef i:hover {
    font-size: 30px;
  }

.magicpattern { 
    top: 70px;
    right: 80%;
    width: 500px;
    height: 400px;
    background-repeat: no-repeat; 
    /* Prevent background image from repeating */
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M790 641.5Q664 783 460 852.5T130.5 711Q5 500 156 333t361-196.5q210-29.5 304.5 167t-31.5 338Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%23fff%22 d=%22M790 641.5Q664 783 460 852.5T130.5 711Q5 500 156 333t361-196.5q210-29.5 304.5 167t-31.5 338Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  }
.magicpattern-2{ 
    top: 70px;
    right: 10%;
    width: 500px;
    height: 400px;
    background-repeat: no-repeat; 
    /* Prevent background image from repeating */
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M790 641.5Q664 783 460 852.5T130.5 711Q5 500 156 333t361-196.5q210-29.5 304.5 167t-31.5 338Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%23fff%22 d=%22M790 641.5Q664 783 460 852.5T130.5 711Q5 500 156 333t361-196.5q210-29.5 304.5 167t-31.5 338Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  }
  .blobs-main{
    background-image:url("../Photo/blobanimation.svg") ;
    background-repeat: no-repeat; /* Prevent background image from repeating */
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* object-fit: contain; */
    /* Add some padding or spacing if needed */
    /* padding: 220px; */
    /* Add a semi-transparent overlay for better readability of content */
  }
  /* @media screen and (max-width: 1000px) {
    .emoji-main{
      display: none;
    }
    .wave{
      display: none;
    }
  } */

  @media screen and (max-width: 767px) {
    /* .wave{
      display: none;
    } */
    .emoji-main{
      display: none;
    }
    
    .block1{
      height: 100vh;
    }
    .block11{
      margin-top: 10vh;
      height: auto;
    }
    .brx{
      margin-top: 0vh;
    }

    .borderef {
      position: relative;
      height: 242px;
      width: 160px;
      background: transparent;
      border-radius: 15px;
      border: 2px solid #fff;
      opacity: 0;
      transition: 1.5s ease;
    }
    .borderef:hover {
      opacity: 1;
    }
    .cardef {
      height: 279px;
      width: 200px;
      background: #808080;
      margin: 30px;
      border-radius: 20px;
      transition: .8s ease;
      overflow: hidden;
      box-shadow: 0 0 10px rgba(0, 0, 0, .3);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card0ef {
      background: url("../Photo/371488979_690728899700823_6830333154561649852_n.jpg") center center no-repeat;
      background-size: 200px;
    }
    .card0ef:hover {
      background: url("../Photo/371488979_690728899700823_6830333154561649852_n.jpg") left center no-repeat;
      background-size: 280px;
    }
    .h2ef {
      position: absolute;
      bottom: 142.5px;
      left: 25px;
      width: 15px;
      color:#fff;
      font-size: 15px;
      line-height: 1;
      text-shadow: 0 0 10px rgba(0, 0, 0, .5);
    }
    .iconef {
      position: absolute;
      fill: #fff;
      color: #fff;
      height: 100px;
      bottom: 30px;
      width: 70px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
    .iconef i {
      font-size: 20px;
      transition: .2s ease;
    }
    .iconef i:hover {
      font-size: 30px;
    }
  }
  .cssbac2{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );
  }

  /* Navcss */
 

 
  