@import "https://unpkg.com/transition-style/transition.hackpack.min.css";
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.body-bg{
  background-color: #2B2B2B
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #757575 #FFFFFF;
}
/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 5px;
  width: 6.5px;
}
*::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #FFFFFF;
}
*::-webkit-scrollbar-track:hover {
  background-color: #707070;
}
*::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}
*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #757575;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}
*::-webkit-scrollbar-thumb:active {
  background-color: #FFFFFF;
}

@keyframes wipe-in-up {
  from {
    clip-path: inset(100% 0 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:wipe:up"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-up both;
}

.language-icon {
  font-size: 3.5rem;
  margin: 1.0rem;
  color: #FFFFFF;
}
.language-icon:hover {
  color: #007bff;
  transform: scale(1.2);
}
.navbar{
  background: rgba(255, 255, 255, 0); 
  box-shadow: 2px 7px 20px 10px rgba(255, 255, 255, 0.115);
  backdrop-filter: blur(3.25px);
}
sh-x{
  box-shadow: 2px 7px 20px 10px rgba(17, 17, 17, 1);
  /* box-shadow: 2px 7px 20px 11px rgba(255, 255, 255, 0.51); */
}
sh-x2{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.bg-nmain {
  position: relative;
  background-image: url('../Photo/DSCF2374.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  z-index: 0;
  overflow: hidden;
}

.bg-nmain::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to left, rgba(255,255,255,0.7), rgba(255,255,255,0)); /* ไล่ขาวจากขวาไปซ้าย */
  backdrop-filter: blur(3px); /* เพิ่มความละมุนอีกนิด */
  z-index: 1;
  pointer-events: none;
}
.bg-nmain > * {
  position: relative;
  z-index: 2;
}
.bg-cleanmain {
  position: relative;
  background-image: url('../Photo/DSCF2374.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 0;
  overflow: hidden;
  border-radius: 24px;
  min-height: 40vh; /* ค่าเริ่มต้นสำหรับมือถือ */
}

/* 👉 สำหรับหน้าจอกว้างกว่า 768px (Tablet ขึ้นไป) */
@media (min-width: 768px) {
  .bg-cleanmain {
    min-height: 70vh;
  }
}

.bg-cleanmain > * {
  position: relative;
  z-index: 1; /* ให้เนื้อหาอยู่เหนือพื้นหลัง */
}
.bg-cleanmain2 {
  position: relative;
  background-image: url('../Photo/retouch_2025051920044956.jpg');
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  overflow: hidden;
}

.bg-cleanmain2 > * {
  position: relative;
  z-index: 1; /* ให้เนื้อหาอยู่เหนือพื้นหลัง */
}

.dashed-border {
  border: 1.5px dashed #2C2C2C; /* ความหนา 2px, สีทอง */
 border-radius: 0;    /* มุมโค้ง */
  padding: 1rem;
}

.bg-submain {
  background-image: url('../Photo/20230220_005806.jpg');
  background-size: cover;
}
.bg-main {
  background-image: url('../Photo/gilles-lambert-msk5nnsasly-unsplash.avif');
  background-size: cover;
}
.bg-main-pas {
  background-image: url('../Photo/gilles-lambert-msk5nnsasly-unsplash.avif');
  background-size: cover;
}
.block11{
  text-align: center;
  margin-top: 20.5vh;
}
.block3 {
  height: 90vh;
  background-color: #0B0D0C;
  background-size: cover;
}
.block4 {
  height: 30vh;
  background-color: #232427;
}
.a1{
  background-image: url('./Photo/a1.png');
  background-size: cover ;
  width: auto;
  height: 450px;
  margin: 30px;
 
}
.centerpage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container1{
  box-sizing: border-box;
}
.responsive-profile {
  font-size: 64px;
}

@media (min-width: 768px) {
  .responsive-profile {
    font-size: 64px;
  }
}

@media (min-width: 1200px) {
  .responsive-profile {
    font-size: 74px;
  }
}
.section-title {
  font-size: 54px;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 64px;
  }
}

@media (min-width: 1200px) {
  .section-title {
    font-size: 84px;
  }
}
img:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}

.borderef {
    position: relative;
    height: 342px;
    width: 260px;
    background: transparent;
    border-radius: 15px;
    border: 2px solid #fff;
    opacity: 0;
    transition: 1.5s ease;
  }
  .borderef:hover {
    opacity: 1;
  }
  .cardef {
    height: 379px;
    width: 300px;
    background: #808080;
    margin: 30px;
    border-radius: 20px;
    transition: .8s ease;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card0ef {
    background: url("../Photo/371488979_690728899700823_6830333154561649852_n.jpg") center center no-repeat;
    background-size: 300px;
  }
  .card0ef:hover {
    background: url("../Photo/371488979_690728899700823_6830333154561649852_n.jpg") left center no-repeat;
    background-size: 480px;
  }
  .h2ef {
    position: absolute;
    bottom: 142.5px;
    left: 25px;
    width: 15px;
    color:#fff;
    font-size: 30px;
    line-height: 1;
    text-shadow: 0 0 10px rgba(0, 0, 0, .5);
  }
  .iconef {
    position: absolute;
    fill: #fff;
    color: #fff;
    height: 100px;
    bottom: 30px;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .iconef i {
    font-size: 20px;
    transition: .2s ease;
  }
  .iconef i:hover {
    font-size: 30px;
  }

.magicpattern { 
    top: 70px;
    right: 80%;
    width: 500px;
    height: 400px;
    background-repeat: no-repeat; 
    /* Prevent background image from repeating */
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M790 641.5Q664 783 460 852.5T130.5 711Q5 500 156 333t361-196.5q210-29.5 304.5 167t-31.5 338Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%23fff%22 d=%22M790 641.5Q664 783 460 852.5T130.5 711Q5 500 156 333t361-196.5q210-29.5 304.5 167t-31.5 338Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  }
.magicpattern-2{ 
    top: 70px;
    right: 10%;
    width: 500px;
    height: 400px;
    background-repeat: no-repeat; 
    /* Prevent background image from repeating */
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M790 641.5Q664 783 460 852.5T130.5 711Q5 500 156 333t361-196.5q210-29.5 304.5 167t-31.5 338Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%23fff%22 d=%22M790 641.5Q664 783 460 852.5T130.5 711Q5 500 156 333t361-196.5q210-29.5 304.5 167t-31.5 338Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  }
  .blobs-main{
    background-image:url("../Photo/blobanimation.svg") ;
    background-repeat: no-repeat; /* Prevent background image from repeating */
    width: 100%;
    height: 100%;
    /* display: flex; */
    /* object-fit: contain; */
    /* Add some padding or spacing if needed */
    /* padding: 220px; */
    /* Add a semi-transparent overlay for better readability of content */
  }
  .shd{
    box-shadow: 2px 7px 20px 10px rgba(17, 17, 17, 1);
  }

  .scroll-wrapper {
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .mockup-card {
    scroll-snap-align: start;
    transition: transform 0.3s ease;
  }

  .mockup-card:hover {
    transform: translateY(-6px);
  }

  .scroll-wrapper::-webkit-scrollbar {
    height: 8px;
  }

  .scroll-wrapper::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }

  /* From Uiverse.io by bociKond */ 
.container-add {
   width: 100%;
  height: 100%;
  --s: 84px;
  --c1: #f2f2f2;
  --c2: #cdcbcc;
  --c3: #999999;

  --_g: 0 120deg, #0000 0;
  background: conic-gradient(
      from 0deg at calc(500% / 6) calc(100% / 3),
      var(--c3) var(--_g)
    ),
    conic-gradient(
      from -120deg at calc(100% / 6) calc(100% / 3),
      var(--c2) var(--_g)
    ),
    conic-gradient(
      from 120deg at calc(100% / 3) calc(500% / 6),
      var(--c1) var(--_g)
    ),
    conic-gradient(
      from 120deg at calc(200% / 3) calc(500% / 6),
      var(--c1) var(--_g)
    ),
    conic-gradient(
      from -180deg at calc(100% / 3) 50%,
      var(--c2) 60deg,
      var(--c1) var(--_g)
    ),
    conic-gradient(
      from 60deg at calc(200% / 3) 50%,
      var(--c1) 60deg,
      var(--c3) var(--_g)
    ),
    conic-gradient(
      from -60deg at 50% calc(100% / 3),
      var(--c1) 120deg,
      var(--c2) 0 240deg,
      var(--c3) 0
    );
  background-size: calc(var(--s) * 1.732) var(--s);
}
.cardshadows:hover {
  transform: scale(1.02);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.backdrop-blur-custom {
  backdrop-filter: blur(8px); /* Blur effect */
  -webkit-backdrop-filter: blur(8px);
  transition: background-color 0.3s ease;
}




  

  /* Navcss */
 

 
  